# Fichiers de configuration de l'environnement
.env

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers générés lors de l'exécution
/dist

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de l'éditeur
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?